.App {
  text-align: center;
}

* {
  min-width: 0;
  --font-size: calc(10px + 2vmin);
  font-size: var(--font-size);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);
  color: white;
}

#pointinput {
  display: grid;
  gap:0.5em;
  grid-template-areas:
  "... pp pm ... ..."
  "rst vp vm vs vs"
  "... mp mm ... ...";
  grid-auto-columns: 3em;
}
/* #pointinput>*{
  width: 3em;
} */
#rst {grid-area: rst;}
#pp {grid-area: pp;}
#pm {grid-area: pm;}
#vp {grid-area: vp;}
#vm {grid-area: vm;}
#vs {grid-area: vs;}
#mp {grid-area: mp;}
#mm {grid-area: mm;}
#pointinput button {
  background: #0002;
  border: none;
  color: white;
}

span.coin {
  display: inline-block;
  height: 1.4em;
  width: 1.4em;
  line-height: 1.2em;
  border-radius: 50%;
  border-width: 2pt;
  border-style: solid;
  border-color: white;
  background-color: transparent;
  text-align: center;
  font-size: 0.7em;
  vertical-align: text-bottom;
}


input {
  width: 3em;
  font-size: var(--font-size);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
