body {
  margin: 0;
}


* {
  font-family: 'Iosevka Slab Web', sans-serif;
  /* font-weight: 800; */

  min-width: 0;
  --font-size: calc(10px + 2vmin);
  font-size: var(--font-size);

  text-align: center;

  --purple: #a37fad;
  --brown: #ca7805;
  --yellow: #a78d00;
  --red: #FD2E3C;
  --white: #F4F4F4;
  --wrapperRed: #b44a32;
  --black: #332E2B;
  --green: #68a04f;
}

#backgroundNoise {
  position: absolute;
  z-index: -1000;
  background: url(noise.svg);
  background-size: cover;
}

#backgroundColor {
  background-color: #3F3939;
  mix-blend-mode: multiply;

  width: 100vw;
  height: 100VH;
}

.App {
  justify-content: center;
  display: flex;
}

.beancounter {
  --margin: 1.5em;
  margin: var(--margin);
  height: calc(100vh - (3* var(--margin)));
  border: calc((var(--margin)/2)) solid var(--wrapperRed);
  box-shadow: -3px -3px 7px 1px black;

  background-color: var(--white);


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size);
  color: var(--black);
  width: fit-content;

}

.menu {

  display: grid;
  grid-template-areas: "open ... ... undo redo ";
  grid-auto-columns: 3em;
  gap: 0.5em;

  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.5em;
  background-color: var(--green);  
  border: 2pt solid var(--black);
  outline: 2pt solid var(--green);
}


.player {
  height: 1.5em;
  
  
  display: grid;
  grid-template-areas: "name points b1 b2 b2 ";
  grid-auto-columns: 3em;
  gap: 0.5em;

  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.5em;
  background-color: var(--red);  
  border: 2pt solid var(--black);
  outline: 2pt solid var(--red);
}

.player>.name {
  grid-area: name;
  justify-self: end;
}

.icon {
  width: var(--font-size);
  object-fit: contain;
  /* box-shadow: 0 0 0 2pt var(--purple); */
}

.player>.points {
  grid-area: points;
  justify-self: start;
}


#pointinput {
  display: grid;
  gap: 0.5em;
  grid-template-areas:
    "... pp pm ... ..."
    "rst vp vm vs vs"
    "... mp mm ... ...";
  grid-auto-columns: 3em;

  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.5em;
  background-color: var(--purple);
  border: 2pt solid var(--black);
  outline: 2pt solid var(--purple);
}

/* #pointinput>*{
  width: 3em;
} */
#rst {
  grid-area: rst;
}

#pp {
  grid-area: pp;
}

#pm {
  grid-area: pm;
}

#vp {
  grid-area: vp;
}

#vm {
  grid-area: vm;
}

#vs {
  grid-area: vs;
}

#mp {
  grid-area: mp;
}

#mm {
  grid-area: mm;
}

button {
  height: 1.5em;
  border-radius: 1em 1pt;
  color: var(--black);
  background: var(--brown);
  border: 2pt solid var(--black);
  outline: 2pt solid var(--brown);
  padding: 0 0.5em;
}
button.enabled {
  background: var(--green);
  outline-color: var(--black);
}

span.coin {
  display: inline-block;
  --diameter: 1.5em;
    height: var(--diameter);
  width: var(--diameter);
  border-radius: 50%;

  color: var(--black);
  background-color: var(--yellow);

  border: 2pt solid var(--black);
  outline: 2pt solid var(--yellow);

  text-align: center;
  font-size: 0.7em;
  vertical-align: text-bottom;
}

.bean {
  width: 0.9em;
  rotate: -45deg;
  translate: 0.09em 0.14em;
}

input {
  width: 3em;
  font-size: var(--font-size);
}